---
import type { HTMLAttributes } from "astro/types";
import { getPath } from "../constants/paths";
import Logger from "./../components/Logger";
type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === getPath("/") + subpath?.[1];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <Logger
    client:only="react"
    href={href}
    pathname={pathname}
    getPathName={getPath("/") + subpath?.[1]}
  />
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
